.attributionLink {
	padding: var(--pill-padding);
	border-radius: var(--pill-border-radius);
	font-size: var(--font-size);
	letter-spacing: var(--letter-spacing);
	text-decoration: none;
	font-family: var(--font-mono), monospace;
	transition: var(--transition);
	pointer-events: auto;
	background-color: transparent;
}

.attributionLink:focus-visible {
	outline: 2px solid white;
	outline-offset: 4px;
	border-radius: var(--pill-border-radius);
}
